<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Trabajo Mintic">
    <meta name="keywords" content="Mintic">
    <meta name="author" content="Innovacodes">
    <title>User Information</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" th:href="@{/app-assets/images/ico/apple-icon-120.png}" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/vendors.min.css}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <!-- BEGIN: Theme CSS<link rel="stylesheet" type="text/css" href="../app-assets/css/core/menu/menu-types/vertical-menu.css" th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/bootstrap-extended.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/colors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/components.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/dark-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/bordered-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/semi-dark-layout.css}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/form-validation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/pages/app-user.css}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static   menu-collapsed" data-open="click" data-menu="vertical-menu-modern" data-col="">

<!-- BEGIN: Header-->
<nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <ul class="nav navbar-nav d-xl-none">
                <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon" data-feather="menu"></i></a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav align-items-center ms-auto">
            <div>
                <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-style"><i class="ficon"
                                                                                             data-feather="moon"></i></a>
                </li>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/oauth2/authorization/auth0}"
                   class="btn btn-primary btn-sm mb3 waves-effect waves-float waves-light">Iniciar sesión</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link"
                                                               id="dropdown-user" href="#" data-bs-toggle="dropdown"
                                                               aria-haspopup="true" aria-expanded="false">
                    <div class="user-nav d-sm-flex d-none"><span class="user-name fw-bolder"
                                                                 th:text="${user.getEmail()}"></span><span
                            class="user-status" th:text="${user.getRole}"></span></div>
                    <span class="avatar"><img class="round" th:src="${user.getImage}"
                                              alt="avatar" height="40" width="40"><span
                            class="avatar-status-online"></span></span>
                </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                        <a class="dropdown-item" href="page-profile.html"><i class="me-50" data-feather="user"></i>
                            Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="page-account-settings.html"><i class="me-50"
                                                                                      data-feather="settings"></i>
                            Settings</a>
                        <a class="dropdown-item" th:href="@{/logout}"><i class="me-50"
                                                                         data-feather="power"></i>
                            Logout</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</nav>
<!-- END: Header-->


<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto"><a class="navbar-brand" th:href="@{/}"><span class="brand-logo">
                        <svg viewbox="0 0 139 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="24">
                            <defs>
                                <lineargradient id="linearGradient-1" x1="100%" y1="10.5120544%" x2="50%" y2="89.4879456%">
                                    <stop stop-color="#000000" offset="0%"></stop>
                                    <stop stop-color="#FFFFFF" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient id="linearGradient-2" x1="64.0437835%" y1="46.3276743%" x2="37.373316%" y2="100%">
                                    <stop stop-color="#EEEEEE" stop-opacity="0" offset="0%"></stop>
                                    <stop stop-color="#FFFFFF" offset="100%"></stop>
                                </lineargradient>
                            </defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Artboard" transform="translate(-400.000000, -178.000000)">
                                    <g id="Group" transform="translate(400.000000, 178.000000)">
                                        <path class="text-primary" id="Path" d="M-5.68434189e-14,2.84217094e-14 L39.1816085,2.84217094e-14 L69.3453773,32.2519224 L101.428699,2.84217094e-14 L138.784583,2.84217094e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L6.71554594,44.4188507 C2.46876683,39.9813776 0.345377275,35.1089553 0.345377275,29.8015838 C0.345377275,24.4942122 0.230251516,14.560351 -5.68434189e-14,2.84217094e-14 Z" style="fill:currentColor"></path>
                                        <path id="Path1" d="M69.3453773,32.2519224 L101.428699,1.42108547e-14 L138.784583,1.42108547e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L32.8435758,70.5039241 L69.3453773,32.2519224 Z" fill="url(#linearGradient-1)" opacity="0.2"></path>
                                        <polygon id="Path-2" fill="#000000" opacity="0.049999997" points="69.3922914 32.4202615 32.8435758 70.5039241 54.0490008 16.1851325"></polygon>
                                        <polygon id="Path-21" fill="#000000" opacity="0.099999994" points="69.3922914 32.4202615 32.8435758 70.5039241 58.3683556 20.7402338"></polygon>
                                        <polygon id="Path-3" fill="url(#linearGradient-2)" opacity="0.099999994" points="101.428699 0 83.0667527 94.1480575 130.378721 47.0740288"></polygon>
                                    </g>
                                </g>
                            </g>
                        </svg></span>
                    <h2 class="brand-text">InnovaCode</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" navigation-header"><span data-i18n="Modules">Módulos</span><i data-feather="more-horizontal"></i></li>
            
            <li class=" nav-item"><a class="d-flex align-items-center" href="#"><i data-feather="file-text"></i><span class="menu-title text-truncate" data-i18n="Transactions">Transacciones</span></a>
                <ul class="menu-content">
                    <li><a class="d-flex align-items-center" th:href="@{/movements}"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="List">Lista</span></a> </li>
                    <li><a class="d-flex align-items-center" th:href="@{/movements/create}"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Add">Añadir</span></a> </li>
                </ul>
            </li>

            <li class=" nav-item"><a class="d-flex align-items-center" href="#"><i data-feather="user"></i><span class="menu-title text-truncate" data-i18n="user">Usuarios</span></a>
                <ul class="menu-content">
                    <li class = "active"><a class="d-flex align-items-center" th:href="@{/users}"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="List">Lista</span></a> </li>
                    <li><a class="d-flex align-items-center" th:href="@{/users/create}"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Add">Añadir</span></a> </li>
                </ul>
            </li>

            <li class=" nav-item"><a class="d-flex align-items-center" href="#"><i data-feather="briefcase"></i><span class="menu-title text-truncate" data-i18n="enterprise">Empresa</span></a>
                <ul class="menu-content">
                    <li><a class="d-flex align-items-center" th:href="@{/enterprises}"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="List">List</span></a> </li>
                    <li><a class="d-flex align-items-center" th:href="@{/enterprises/create}"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Add">Añadir</span></a> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="app-user-view">
                    <!-- User Card & Plan Starts -->
                    <div class="row">
                        <!-- User Card starts-->
                        <div class="col-xl-12 col-lg-12 col-md-12" >
                            <div class="card user-card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                                            <div class="user-avatar-section">
                                                <div class="d-flex justify-content-start">
                                                    <img class="img-fluid rounded" src="../app-assets/images/avatars/7.png" height="104" width="104" alt="User avatar" />
                                                    <div class="d-flex flex-column ms-1">
                                                        <div class="user-info mb-1">
                                                            <h4 class="mb-0" th:text="${employee.id}" >ID</h4>
                                                            <span class="card-text" th:text="${employee.email}">Email</span>
                                                        </div>
                                                        <div class="d-flex flex-wrap">
                                                            <a th:href="@{/users/edit/{id}(id=${employee.id})}" class="btn btn-primary">Editar</a>
                                                            <a th:href="@{/users/delete/{id}(id=${employee.id})}" class="btn btn-outline-danger ms-1">Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                            <div class="user-info-wrapper">
                                                <div class="d-flex flex-wrap my-50">
                                                    <div class="user-info-title">
                                                        <i data-feather="check" class="me-1"></i>
                                                        <span class="card-text user-info-title fw-bold mb-0">Status</span>
                                                    </div>
                                                    <p class="card-text mb-0">Active</p>
                                                </div>
                                                <div class="d-flex flex-wrap my-50">
                                                    <div class="user-info-title">
                                                        <i data-feather="star" class="me-1"></i>
                                                        <span class="card-text user-info-title fw-bold mb-0">Role</span>
                                                    </div>
                                                    <p class="card-text mb-0" th:text="${employee.role}" >role</p>
                                                </div>
                                                <div class="d-flex flex-wrap my-50">
                                                    <div class="user-info-title">
                                                        <i data-feather="phone" class="me-1"></i>
                                                        <span class="card-text user-info-title fw-bold mb-0">Contacto</span>
                                                    </div>
                                                    <p class="card-text mb-0" th:text="${employee.phone}" >phone</p>
                                                </div>
                                                <div class="d-flex flex-wrap my-50">
                                                    <div class="user-info-title">
                                                        <i data-feather="briefcase" class="me-1"></i>
                                                        <span class="card-text user-info-title fw-bold mb-0">Empresa</span>
                                                    </div>
                                                    <p class="card-text mb-0" th:text="${employee.enterprise.name}" >enterprise</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /User Card Ends-->
                    </div>
                    <!-- User Card & Plan Ends -->
                </section>
                <!-- Table of transactions -->
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Concepto</th>
                        <th>Monto</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${transactions.empty}">
                            <td colspan="4">No hay transacciones</td>
                        </tr>
                    <tr th:each="transaction : ${transactions}">
                        <td th:text="${transaction.id}">Id</td>
                        <td th:text="${transaction.concept}">Concepto</td>
                        <td th:text="${transaction.amount}">Monto</td>
                        <td th:text="${transaction.createdAt}">CreatedAt</td>
                        <td th:text="${transaction.updatedAt}">updatedAt</td>
                        <td>
                
                            <a th:href="@{/movements/edit/{id}(id=${transaction.id})}" class="btn btn-info"><i data-feather="edit-3"></i></a>
                            <a th:href="@{/movements/{id}(id=${transaction.id})}" class="btn btn-danger"><i data-feather="trash-2"></i></a>
                
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <!-- END: Footer-->



    <!-- BEGIN: Vendor JS-->
    <script th:src="@{/app-assets/vendors/js/vendors.min.js}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script th:src="@{/app-assets/vendors/js/forms/validation/jquery.validate.min.js}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script th:src="@{/app-assets/js/core/app-menu.js}"></script>
    <script th:src="@{/app-assets/js/core/app.js}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>
<!-- END: Body-->

</html>